<div id="login-page">
  <div class="container">

      <%= form_for(:session, url: login_path, html: {class: "form-login"}) do |f| %>
        <h2 class="form-login-heading"><a href="<%= root_path %>"><img src="<%= image_path('header/logo-fabrica-de-bolo.png') %>" alt="" /></a></h2>
        <div class="login-wrap">
          <h3>Login</h3>
            <p class="alert alert-danger error_wrap"><%= flash[:error] %></p>
            <%= f.email_field :email, :placeholder => "Email", class: 'form-control' %>
            <br>

              <%= f.password_field :password, :placeholder => "Senha", class: 'form-control' %>
            <label class="checkbox">
                <p class="text-right">
                    <a data-toggle="modal" href="login.html#myModal"> Esqueceu a senha?</a>
                </p>
            </label>
            <button class="btn btn-theme btn-block"  type="submit"><i class="fa fa-lock"></i> ENTRAR</button>
            <hr>
            <p>
              <a href="<%= register_path %>">Cadastre-se</a>
            </p>
            <!--<div class="login-social-link centered">
            <p>or you can sign in via your social network</p>
                <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
                <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
            </div>
            <div class="registration">
                Don't have an account yet?<br/>
                <a class="" href="#">
                    Create an account
                </a>
            </div>-->

        </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn btn-theme" type="button">Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->

      <% end %>

  </div>
</div>
