<div class="row">
  <div class="col-md-6">
    <%= form_for @clipping, :html => { :multipart => true, class: 'form' } do |f| %>
      <%= render "partials/notifications", object: @clipping %>
      <div class="alert alert-info"><%= flash[:success] %></div>
      <div class="form-group">
        <label for="name">Imagem</label>
        <%= image_tag @clipping.avatar.url(:thumb) unless  @clipping.avatar.url(:thumb).nil? %>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Título</label>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="excerpt">Conteudo</label>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Fonte</label>
        <%= f.text_field :font, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Data de vinculação</label>
        <%= f.text_field :published_at, class: "form-control" %>
      </div>
      <div class="form-group text-right">
        <%= f.submit 'Enviar', class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
