
<div class="row">
  <div class="col-md-6">
    <%= form_for(@store) do |f| %>
      <%= render "partials/notifications", object: @store %>
      <div class="alert alert-info"><%= flash[:success] %></div>
      <div class="form-group">
        <label for="name">Nome</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Telefone</label>
        <%= f.text_field :tel, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Celular</label>
        <%= f.text_field :cel, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Wathsapp</label>
        <%= f.text_field :waths, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Horário de funcionamento</label>
        <%= f.text_field :hour, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Endereço</label>
        <%= f.text_field :address, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Número</label>
        <%= f.text_field :num, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Complemento</label>
        <%= f.text_field :comp, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Bairro</label>
        <%= f.text_field :district, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Nome</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group text-right">
        <%= f.submit 'Enviar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
