<footer>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <%= form_tag '/newsletters/create', remote: true, class: 'form-inline form-search', id: 'form_news' do  %>
                        <input type="hidden" name="newsletter[active]" value="1">
                        <label data-scroll-reveal="enter left and move 20px over 1s">
                            <img src="<%= image_path('footer/email.png') %>" class="img-responsive pull-left" data-scroll-reveal="enter left and move 40px over 1s">
                            <span>Fique por dentro das novidades</span>
                        </label>
                        <div class="input-group name" data-scroll-reveal="enter">
                            <input name="newsletter[name]" id="name_news" type="text" class="form-control" placeholder="Nome">
                        </div>
                        <div class="input-group email" data-scroll-reveal="enter">
                            <input name="newsletter[email]" id="email_news" type="text" class="form-control" placeholder="E-mail">
                            <span class="input-group-btn">
                              <button class="btn news_create transition" type="button">Enviar</button>
                            </span>
                        </div>
                      <% end %>
                      <p class="alert text-center alert-warning" style="display:none;" id="res"></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>2016 © Fábrica de Bolo - Todos os direitos reservados</span>
                    <a href="http://dizain.com.br/" target="_blank" class="transition">Desenvolvido por Diz’ain</a>
                </div>
            </div>
        </div>
    </div>
</footer>
