<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-top">
            <div class="navbar-top-text">
                <div class="navbar-top-bg transition"></div>
                <a href="#">Portal do franqueado</a>
            </div>
            <div class="container">
                <div class="nav-right">
                    <a href="#" target="_blank"><i class="icon icon-social-facebook-circle"></i></a>
                    <a href="#" target="_blank"><i class="icon icon-social-tumblr-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= root_path %>">
                    <img src="<%= image_path('header/logo-fabrica-de-bolo.png') %>" class="img-responsive">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="onde-encontrar.html">Lojas</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">nossos Bolos</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <img src="<%= image_path('bolos/tradicionais-thumb.jpg') %>">
                                    <div>
                                        <b>Tradicionais</b>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat massa.</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="<%= image_path('bolos/especiais-thumb.jpg') %>">
                                    <div>
                                        <b>Especiais</b>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat massa.</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="<%= image_path('bolos/diets-thumb.jpg') %>">
                                    <div>
                                        <b>Diets</b>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat massa.</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="<%= image_path('bolos/festa-thumb.jpg') %>">
                                    <div>
                                        <b>Festas</b>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat massa.</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Novidades</a></li>
                    <li><a href="#">Imprensa</a></li>
                    <li><a href="<%= contato_path %>">Contato</a></li>
                    <li><a href="#">Seja um franqueado</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
