<div class="row">
  <div class="col-md-6">
    <%= form_for @cake, :html => { :multipart => true, class: 'form' } do |f| %>
      <div class="alert alert-info"><%= flash[:success] %></div>
      <%= render "partials/notifications", object: @cake %>
      <div class="form-group">
        <label for="name">Imagem</label>
        <%= image_tag @cake.photo.url(:thumb) unless  @cake.photo.url(:thumb).nil? %>
        <%= f.file_field :photo, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Nome</label>
        <%= f.collection_select :category_id, Category.order(name: :asc), :id, :name, {:prompt => "Selecione categoria"}, {:class => "form-control"} %>

        <%# f.select :category_id,n :options_for_select(@categories), class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Nome</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Receita</label>
        <%= f.text_area :recipe, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="excerpt">Informação nutricional</label>
        <%= f.text_area :nutrition_content, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="excerpt">Conteúdo</label>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <div class="form-group text-right">
        <%= f.submit 'Enviar', class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
