<h1>Bolos</h1>
<div class="alert alert-info"><%= flash[:success] %></div>
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" href="<%= new_cake_path %>"><i class="fa fa-plus"></i> NOVO</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @cakes.count > 0  %>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Imagem</th>
        <th>Categoria</th>
        <th>Nome</th>
        <th>Editar</th>
        <th>Apagar</th>
      </tr>
      <% @cakes.each do |cake| %>
        <tr>
          <td><%= image_tag cake.photo.url(:thumb) %></td>
          <td><%= cake.category.name %></td>
          <td><%= cake.name %></td>
          <td><a href="<%= edit_cake_path(cake.id) %>"><i class="fa fa-edit"></i></a></td>
          <td>
            <%= link_to cake, method: :delete, data: {confirm: "Tem certeza?"} do %>
            <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <% else %>
    <p class="alert alert-warning">Não há resultados</p>
    <% end %>

  </div>
</div>
