    <section>
        <div class="bg-feead1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="panel panel-contato">
                            <div class="panel-body">
                                <%= form_for @message, url: {action: "contato"} do |f| %>
                                <%= render "partials/notifications", object: @message %>
                                <div class="alert alert-info"><%= flash[:success] %></div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-icon">
                                                <span class="icon-img icon-user"></span>
                                                <%= f.text_field :name, class: 'form-control', placeholder: 'Digite seu nome*' %>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-icon">
                                                <span class="icon-img icon-email"></span>

                                                <%= f.text_field :email, class: 'form-control', placeholder: 'Digite seu e-mail*' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-icon">
                                                <span class="icon-img icon-dialog"></span>

                                                <%= f.text_field :subject, class: 'form-control', placeholder: 'Assunto*' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-icon">
                                                <span class="icon-img icon-edit"></span>

                                                  <%= f.text_area :msg, class: 'form-control', placeholder: 'Digite sua mensagem*' %>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-sm-push-10">
                                            <button type="submit" class="btn btn-danger btn-danger2 btn-block">Enviar</button>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
