<section class="banner" style="background-image: url(/assets/banner/banner-imprensa.png);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Imprensa</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Nulla eu tristique neque.</p>
            </div>
        </div>
    </div>
</section>
<section class="form-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-3">
                <div class="form-group">
                    <select class="selectpicker form-control">
                        <option selected disabled>Ordenar por</option>
                        <option>Opção 1</option>
                        <option>Opção 2</option>
                        <option>Opção 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="box-info">
                        <a href="#">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="/assets/imprensa/imprensa_1.jpg" class="img-responsive">
                                </div>
                                <div class="col-sm-6 box-text">
                                    <div class="text">
                                        <p>POR STÉFANO SALLES - 14/08/2015</p>
                                        <p>Fundada há sete anos pela Vó Alzira, rede já está presente em oito estados</p>
                                        <p>RIO - Desempregada aos 60 anos, depois de enfrentar duas tragédias familiares, Alzira...</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-info">
                        <a href="#">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="/assets/imprensa/imprensa_2.jpg" class="img-responsive">
                                </div>
                                <div class="col-sm-6 box-text">
                                    <div class="text">
                                        <p>POR ANDRÉA MACHADO 12/10/14</p>
                                        <p>Fábrica de Bolo Vó Alzira cresce, vira franquia e conquista todo o Estado do Rio</p>
                                        <p>Em setembro, um recorde: 73 mil bolos fabricados num único mês. Meta para dezembro...</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="box-info">
                        <a href="#">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="/assets/imprensa/imprensa_3.jpg" class="img-responsive">
                                </div>
                                <div class="col-sm-6 box-text">
                                    <div class="text">
                                        <p>POR PRISCILA ZUINI COM RENNAN A. JULIO03 - 07/07/2015</p>
                                        <p>Empreendedora de 68 anos planeja levar franquia de bolos para os Estados Unidos</p>
                                        <p>Em 2007, durante o feriado de Páscoa, Alzira Ramos, aos 60 anos de idade, perdeu sua...</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-info">
                        <a href="#">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="/assets/imprensa/imprensa_4.jpg" class="img-responsive">
                                </div>
                                <div class="col-sm-6 box-text">
                                    <div class="text">
                                        <p>POR ROBSON SALES</p>
                                        <p>Brasileiro adapta planos e investe em loja em Miami</p>
                                        <p>O dólar mais caro pode ter pesado no bolso dos empresários, mas não... </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="box-info">
                        <a href="#">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="/assets/imprensa/imprensa_5.jpg" class="img-responsive">
                                </div>
                                <div class="col-sm-6 box-text">
                                    <div class="text">
                                        <p>SITE GUIA DO RIO</p>
                                        <p>Vai estar por aqui no natal?</p>
                                        <p>Edição especial de Natal na Fábrica de Bolo Vó Alzira - os bolos ganham ingredientes... </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-info">
                        <a href="#">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="/assets/imprensa/imprensa_6.jpg" class="img-responsive">
                                </div>
                                <div class="col-sm-6 box-text">
                                    <div class="text">
                                        <p>POR RENNAN A. JULIO - 15/12/2015</p>
                                        <p>5 empreendedores brasileiros que fazem sucesso em Miami</p>
                                        <p>De acordo com o Ministério das Relações Exteriores, a Flórida é a região dos Estados Unidos...</p>
                                    </div>
                                </
                            </a>div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-push-3">
                    <a href="#" class="btn btn-warning btn-block btn-lg">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
</section>
