<section>
    <div id="banner" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators-container">
            <div class="container">
                <ol class="carousel-indicators">
                    <li data-target="#banner" data-slide-to="0" class="active"></li>
                    <li data-target="#banner" data-slide-to="1"></li>
                    <li data-target="#banner" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-image: url(<%= image_path('banner/banner.jpg') %>);">
                <div class="carousel-text">
                    <h2>Nulla eu tristique neque!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        <br> elit. Nulla eu tristique neque.</p>
                </div>
            </div>
            <div class="item" style="background-image: url(<%= image_path('banner/banner.jpg') %>);">
                <div class="carousel-text">
                    <h2>Nulla eu tristique neque!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        <br> elit. Nulla eu tristique neque.</p>
                </div>
            </div>
            <div class="item" style="background-image: url(<%= image_path('banner/banner.jpg') %>);">
                <div class="carousel-text">
                    <h2>Nulla eu tristique neque!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        <br> elit. Nulla eu tristique neque.</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#banner" role="button" data-slide="prev">
            <img src="<%= image_path('banner/seta-esquerda.png') %>">
        </a>
        <a class="right carousel-control" href="#banner" role="button" data-slide="next">
            <img src="<%= image_path('banner/seta-direita.png') %>">
        </a>
        <div class="carousel-search">
            <div class="container">
                <form action="onde-encontrar.html" class="form-inline text-center form-search" role="form">
                    <label data-scroll-reveal="enter left and move 20px over 1s">Lojas mais próximas:</label>
                    <div class="input-group" data-scroll-reveal="enter right and move 20px over 1s">
                        <input type="text" class="form-control" placeholder="Onde você está? ex.: Barra da Tijuca, RJ">
                        <span class="input-group-btn">
                        <button type="submit" class="btn transition" type="button">Buscar</button>
                    </span>
                    </div>
                </form>
                <a href="#">Ver todas as lojas <i class="icon icon-arrows-slim-right transition"></i></a>
            </div>
        </div>
    </div>
    <div class="home-nossos-bolos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="<%= image_path('tag/nossos-bolos.png') %>" class="img-responsive tag" data-scroll-reveal="enter bottom and move 20px over 1s">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="#">
                        <div class="box-bolo" data-scroll-reveal="enter bottom and move 20px over 1s">
                            <img src="<%= image_path('bolos/tradicionais.png') %>" class="img-responsive">
                            <div class="box-text">
                                <div class="box-text-content">
                                    <div>
                                        <h3>Tradicionais</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat massa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#">
                        <div class="box-bolo" data-scroll-reveal="enter bottom and move 20px over 1s">
                            <img src="<%= image_path('bolos/especiais.png') %>" class="img-responsive">
                            <div class="box-text">
                                <div class="box-text-content">
                                    <div>
                                        <h3>Especiais</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat massa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#">
                        <div class="box-bolo" data-scroll-reveal="enter bottom and move 20px over 1s">
                            <img src="<%= image_path('bolos/diets.png') %>" class="img-responsive">
                            <div class="box-text">
                                <div class="box-text-content">
                                    <div>
                                        <h3>Diets</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat massa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#">
                        <div class="box-bolo" data-scroll-reveal="enter bottom and move 20px over 1s">
                            <img src="<%= image_path('bolos/festas.png') %>" class="img-responsive">
                            <div class="box-text">
                                <div class="box-text-content">
                                    <div>
                                        <h3>Festas</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat massa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-novidades">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="<%= image_path('tag/novidades.png') %>" class="img-responsive tag" data-scroll-reveal="enter bottom and move 20px over 1s">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="carouselNovidades" class="carousel slide" data-ride="carousel" data-scroll-reveal="enter bottom and move 20px over 1s">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carouselNovidades" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselNovidades" data-slide-to="1"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#">
                                            <div class="row">
                                                <div class="col-sm-6"> <img src="<%= image_path('novidades/novidades1.jpg') %>" class="img-responsive pull-left"> </div>
                                                <div class="col-sm-6">
                                                    <div class="text">
                                                        <h4>Confira esse lançamento  delicioso!!!</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="#">
                                            <div class="row">
                                                <div class="col-sm-6"> <img src="<%= image_path('novidades/novidades2.png') %>" class="img-responsive pull-left"> </div>
                                                <div class="col-sm-6">
                                                    <div class="text">
                                                        <h4>Já provou essa Delícia de aipim?</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#">
                                            <div class="row">
                                                <div class="col-sm-6"> <img src="<%= image_path('novidades/novidades1.jpg') %>" class="img-responsive pull-left"> </div>
                                                <div class="col-sm-6">
                                                    <div class="text">
                                                        <h4>Confira esse lançamento  delicioso!!!</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="#">
                                            <div class="row">
                                                <div class="col-sm-6"> <img src="<%= image_path('novidades/novidades2.png') %>" class="img-responsive pull-left"> </div>
                                                <div class="col-sm-6">
                                                    <div class="text">
                                                        <h4>Já provou essa Delícia de aipim?</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-seja-um-franqueado">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="<%= image_path('tag/seja-um-franqueado.png') %>" class="img-responsive tag" data-scroll-reveal="enter bottom and move 20px over 1s">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="<%= image_path('seja-um-franqueado/bolo-barato.png') %>" class="img-responsive center item left" data-scroll-reveal="enter left and move 40px over 1s">
                    <img src="<%= image_path('seja-um-franqueado/baixo-investimento.png') %>" class="img-responsive center item left" data-scroll-reveal="enter left and move 40px over 1s">
                </div>
                <div class="col-sm-4">
                    <img src="<%= image_path('seja-um-franqueado/vo-alzira.png') %>" class="img-responsive center vo-alzira" data-scroll-reveal="enter bottom and move 40px over 1s">
                </div>
                <div class="col-sm-4">
                    <img src="<%= image_path('seja-um-franqueado/retorno-rapido.png') %>" class="img-responsive center item right" data-scroll-reveal="enter right and move 40px over 1s">
                    <img src="<%= image_path('seja-um-franqueado/mais-de-150-lojas.png') %>" class="img-responsive center item right" data-scroll-reveal="enter right and move 40px over 1s">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="btn btn-danger text-uppercase transition" data-scroll-reveal="enter">saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</section>
