<section class="banner" style="background-image: url(/assets/banner/banner-nossos-bolos.png);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Bolos Tradicionais</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Nulla eu tristique neque.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-feead1">
    <div class="container">
        <div style="margin-bottom: 40px;"></div>
        <div class="row">   
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-banana.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de banana</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-laranja.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Laranja</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-maca.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Maça</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">   
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-abacaxi.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Abacaxi</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-chocolate.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Chocolate</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-coco.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Coco</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>  
        <div class="row">   
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-abacaxi-com-coco.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Abacaxi com Coco</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-cenoura.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Cenoura</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-cenoura-com-chocolate.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Cenoura com Chocolate</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">   
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-milho.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Milho</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-banana-com-granola.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Banana com Granola</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-laranja-com-goiaba.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Laranja com Goiaba</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">   
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-doce-de-leite.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Doce de Leite</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/cuca-de-banana.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Cuca de Banana</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/cuca-de-banana.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Cuca de Maça</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">   
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-aipim.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Aipim</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-nozes.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Nozes</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#">
                    <div class="photo" style="background-image: url(/assets/bolos/bolo-de-laranja-com-goiaba.png);">
                        <div class="filter"></div>
                        <div class="content">
                            <p>Bolo de Banana com Nozes</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div style="margin-bottom: 70px;"></div>
    </div>
</section>
