<section class="banner" style="background-image: url(/assets/banner/banner-novidades.png);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Novidades</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Nulla eu tristique neque.</p>
            </div>
        </div>
    </div>
</section>
<section class="form-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-3">
                <div class="form-group">
                    <select class="selectpicker form-control">
                        <option selected disabled>Ordenar por</option>
                        <option>Opção 1</option>
                        <option>Opção 2</option>
                        <option>Opção 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="box-info">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="/assets/news/news2.png" class="img-responsive">
                            </div>
                            <div class="col-sm-6 box-text">
                                <div class="text">
                                    <p>12/03/16</p>
                                    <p>Bolo de banana. Impossível comer um pedaço só.</p>
                                    <p>Donec sollicitudin porttitor lacus eget feugiat. Vivamus pharetra, eros a ultrices posuere, lacus arcu suscipit est, at faucibus sapien ligula vel est. Ut ornare, lacus nec consequat pulvinar, lorem quam dignissim mi.</p>
                                    <p>Facilisis nunc dui sed tortor. Donec et gravida ante, auctor porta massa.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="#" class="box-info">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="/assets/news/news.png" class="img-responsive">
                            </div>
                            <div class="col-sm-6 box-text">
                                <div class="text">
                                    <p>12/03/16</p>
                                    <p>Chegou o bolo diet!!!</p>
                                    <p>Donec sollicitudin porttitor lacus eget feugiat. Vivamus pharetra, eros a ultrices posuere, lacus arcu suscipit est, at faucibus sapien ligula vel estrnare, lacus nec.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#" class="box-info">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="/assets/news/news.png" class="img-responsive">
                            </div>
                            <div class="col-sm-6 box-text">
                                <div class="text">
                                    <p>12/03/16</p>
                                    <p>Chegou o bolo diet!!!</p>
                                    <p>Donec sollicitudin porttitor lacus eget feugiat. Vivamus pharetra, eros a ultrices posuere, lacus arcu suscipit est, at faucibus sapien ligula vel estrnare, lacus nec.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="#" class="box-info">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="/assets/news/news.png" class="img-responsive">
                            </div>
                            <div class="col-sm-6 box-text">
                                <div class="text">
                                    <p>12/03/16</p>
                                    <p>Chegou o bolo diet!!!</p>
                                    <p>Donec sollicitudin porttitor lacus eget feugiat. Vivamus pharetra, eros a ultrices posuere, lacus arcu suscipit est, at faucibus sapien ligula vel estrnare, lacus nec.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#" class="box-info">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="/assets/news/news.png" class="img-responsive">
                            </div>
                            <div class="col-sm-6 box-text">
                                <div class="text">
                                    <p>12/03/16</p>
                                    <p>Chegou o bolo diet!!!</p>
                                    <p>Donec sollicitudin porttitor lacus eget feugiat. Vivamus pharetra, eros a ultrices posuere, lacus arcu suscipit est, at faucibus sapien ligula vel estrnare, lacus nec.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-push-3">
                    <a href="#" class="btn btn-warning btn-block btn-lg">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
</section>
