<section class="onde-encontrar">
    <div class="search">
        <div class="container">
            <form action="onde-encontrar.html" class="form-inline text-center form-search" role="form">
                <label>Lojas mais próximas:</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Onde você está? ex.: Barra da Tijuca, RJ">
                    <span class="input-group-btn">
                    <button type="submit" class="btn transition" type="button">Buscar</button>
                </span>
                </div>
            </form>
            <a href="#">Ver todas as lojas <i class="icon icon-arrows-slim-right transition"></i></a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-list-map">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="raio">Raio de proximidade: <b>+<span>1</span>km</b></p>
                        <input 
                            id="radio"
                            data-slider-id='radioSlider'
                            type="text" 
                            name="somename" 
                            data-provide="slider" 
                            data-slider-min="5" 
                            data-slider-max="9"
                            data-slider-step="1"
                            data-slider-value="5"
                            data-slider-tooltip="hide"
                         style="width:100%;">
                    </div>
                </div>
                <div class="list-shadow">
                    <div class="list-shadow top"></div>
                    <ul>
<!--                         <li>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="loja">Barra da Tijuca 1</h4>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="telefone">
                                                <p>(21) 2148-0780</p>
                                                <p>(21) 2148-0780</p>
                                                <p>(21) 2148-0780</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="horario">Seg. à Sex - 8h às 22h</div>
                                        </div>
                                    </div>
                                    <p class="endereco">Av. dos Flamboyants da Peninsula, 855 - Loja 104</p>
                                </div>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-map">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function(){
    $('.col-list-map ul').height($(window).height() - $('.col-list-map ul').offset().top);
});
</script>