@media (max-width: 539px) {
    footer>div:last-child a {float: left; margin-top: 15px; }
    footer label span {width: 163px; float: left; line-height: 19px; text-indent: 0; margin-left: 15px; }
}

@media (min-width: 540px) {
    /*GRID*/
    .container {width: 520px; }

    /*HOME*/
    .home-nossos-bolos .box-text-content div {padding: 30px; }
    .home-nossos-bolos .box-text-content h3 {font-size: 40px; }
    .home-nossos-bolos .box-text-content p {font-size: 16px; line-height: 19px; } }

@media (max-width: 767px) {
    /*NAVBAR*/
    .navbar-top-text {left: 0 !important; }

    /*FOOTER*/
    footer .form-search label {width: 100%; top: 0; text-indent: 10px; line-height: 50px; }
    footer .form-search.form-inline .input-group.name {display: block; margin-bottom: 20px; margin-bottom: 45px; }

    /*NOVIDADES*/
    .home-novidades .carousel>.carousel-inner>.item>.row>[class*="col-"] .text {width: 100% !important; margin-bottom: 30px; margin-left: 0 !important; }
    .home-novidades .carousel>.carousel-inner>.item>.row>[class*="col-"] img {float: none !important; margin-bottom: 0;}

    /*SEJA UM FRANQUEADO*/
    .home-seja-um-franqueado .item {margin-top: 0;}
    .home-seja-um-franqueado .vo-alzira {margin: 30px auto;}
    .home-seja-um-franqueado .btn {width: 100%;}

    /*MAP*/
    .onde-encontrar.col-list-map,
    .onde-encontrar.col-list-map ul {height: auto !important; overflow: visible !important; }
    .onde-encontrar .col-map  {position: absolute; top: 0; left: 0; width: 1px; height: 1px; overflow: hidden; visibility: hidden; }
    .onde-encontrar #map {width: 1000px !important; height: 1000px !important; position: absolute !important; top: 0 !important; left: 0 !important; }
}

@media (min-width: 768px) {
    /*GRID*/
    .container {width: 750px; }

    /*NAVBAR*/
    .navbar-default .navbar-nav>li>a {padding-top: 10px; padding-bottom: 23px; margin-top: 13px; font-size: 10px; }
    .navbar-brand>img {width: 220px; margin-top: -22px; }
    .navbar-top-bg {transform: skewX(36.6deg); transform-origin: 0px 0px 0px; }

    /*FOOTER*/
    footer .form-search.form-inline .input-group.name>.form-control {width: 189px; }
    footer .form-search.form-inline .input-group.email>.form-control {margin-left: 20px; width: 165px; }
    footer .form-search .btn {padding: 15px 20px; }

    /*BANNER*/
    #banner .carousel-inner>.item {height: 394px; }
    #banner .carousel-text h2 {font-size: 58px; }
    #banner .carousel-text p {font-size: 18px; }
    #banner .carousel-control img {width: 35px; }
    #banner .carousel-text {padding-top: 225px; }
    #banner .carousel-indicators {bottom: 80px; right: 0; }

    /*SEARCH*/
    .form-search label {font-size: 20px; }
    .form-search.form-inline .input-group>.form-control {font-size: 18px; width: 368px; height: 52px; }
    .form-search .btn {padding: 15px 48px; }

    /*ONDE ENCONTRAR*/
    .onde-encontrar section {margin-top: 92px; }
}

@media (min-width: 992px) {
    /*GRID*/
    .container {width: 970px; }

    /*NAVBAR*/
    .navbar-default .navbar-nav>li>a {font-size: 14px; }
    .navbar-brand>img {width: auto; }

    /*FOOTER*/
    footer .form-search.form-inline .input-group.name>.form-control {width: 285px; }
    footer .form-search.form-inline .input-group.email>.form-control {margin-left: 20px; width: 233px; }
    footer .form-search .btn {padding: 15px 48px; }

    /*BANNER*/
    #banner .carousel-inner>.item {height: 600px; }
    #banner .carousel-text h2 {font-size: 88px; }
    #banner .carousel-text p {font-size: 28px; }
    #banner .carousel-control.right, #banner .carousel-control.left {display: block; }
    #banner .carousel-control img {width: auto; }
    #banner .carousel-search {padding: 20px; }
    .carousel-indicators li {width: 20px; height: 20px; margin: 0; }
    .carousel-indicators .active {width: 20px; height: 20px; }
}

@media (min-width: 1200px) {
    /*GRID*/
    .container {width: 1000px; }

    /*FOOTER*/
    footer .form-search.form-inline .input-group.name>.form-control {width: 295px; }
    footer .form-search.form-inline .input-group.email>.form-control {margin-left: 20px; width: 233px; }
}
