<div class="row">
  <div class="col-md-6">
    <%= form_for @category,  :html => { :multipart => true, class: 'form' } do |f| %>
      <div class="alert alert-info"><%= flash[:success] %></div>
      <%= render "partials/notifications", object: @category %>
      <div class="form-group">
        <label for="name">Imagem</label>
        <%= image_tag @category.photo.url(:thumb) unless  @category.photo.url(:thumb).nil? %>
        <%= f.file_field :photo, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="name">Nome</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="excerpt">Resumo</label>
        <%= f.text_area :excerpt, class: "form-control" %>
      </div>
      <div class="form-group text-right">
        <%= f.submit 'Enviar', class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
