<h1>Categorias</h1>
<div class="alert alert-info"><%= flash[:success] %></div>
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" href="<%= new_category_path %>"><i class="fa fa-plus"></i> NOVA</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @categories.count > 0  %>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Editar</th>
        <th>Apagar</th>
      </tr>
      <% @categories.each do |c| %>
        <tr>
          <td><%= image_tag c.photo.url(:thumb) %></td>
          <td><%= c.name %></td>
          <td><a href="<%= edit_category_path(c.id) %>"><i class="fa fa-edit"></i></a></td>
          <td>
            <%= link_to c, method: :delete, data: {confirm: "Tem certeza?"} do %>
            <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="row">
      <div class="col-md-12 col-md-offset-5">
        <%= paginate @categories %>
      </div>
    </div>
    <% else %>
    <p class="alert alert-warning">Não há resultados</p>
    <% end %>

  </div>
</div>
