<%= form_for(@groselha) do |f| %>
  <% if @groselha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groselha.errors.count, "error") %> prohibited this groselha from being saved:</h2>

      <ul>
      <% @groselha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.number_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
