<p id="notice"><%= notice %></p>

<h1>Listing Groselhas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tipo</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groselhas.each do |groselha| %>
      <tr>
        <td><%= groselha.name %></td>
        <td><%= groselha.tipo %></td>
        <td><%= groselha.email %></td>
        <td><%= link_to 'Show', groselha %></td>
        <td><%= link_to 'Edit', edit_groselha_path(groselha) %></td>
        <td><%= link_to 'Destroy', groselha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groselha', new_groselha_path %>
