<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @groselha.name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @groselha.tipo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @groselha.email %>
</p>

<%= link_to 'Edit', edit_groselha_path(@groselha) %> |
<%= link_to 'Back', groselhas_path %>
