<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        2016 - Dizain - Fabrica de Bolo
        <a href="blank.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
<!--footer end-->
