<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p style="padding-top: 27px;" class="centered"><a href="profile.html"><i style="font-size:30px;" class="fa fa-user"></i></a></p>
            <h5 class="centered"><%= current_user.name %></h5>
            <li>
              <a href="<%= stores_path %>"><i class="fa fa-birthday-cake"></i> Lojas</a>
            </li>
            <li>
              <a href="<%= cakes_path %>"><i class="fa fa-birthday-cake"></i> Bolos</a>
            </li>

            <li>
              <a href="<%= categories_path %>"><i class="fa fa-tags"></i> Categorias</a>
            </li>
            <li>
              <a href="<%= banners_path %>"><i class="fa fa-tags"></i> Banners</a>
            </li>
            <li>
              <a href="<%= notices_path %>"><i class="fa fa-tv"></i> Novidades</a>
            </li>
            <li>
              <a href="<%= clippings_path %>"><i class="fa fa-tv"></i> Imprensa</a>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
