<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Fabrica de Bolo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Custom styles for this template -->

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>
<body>
<section id="container" >
      <%= render "partials/admin/top" %>

      <%= render "partials/admin/menu" %>
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
            <!--<h3><i class="fa fa-angle-right"></i></h3> -->
            <div class="row mt">
              <div class="col-lg-12">
                  <%= yield %>
              </div>
            </div>

          </section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->


      <%= render "partials/admin/footer" %>
  </section>

    <!--
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
  -->

    <!--common script for all pages-->
    <!--<script src="assets/js/common-scripts.js"></script>-->

    <!--script for this page-->

  <script>
      //custom select box

      $(function(){
        //  $('select.styled').customSelect();
      });

  </script>

  </body>
</html>
