<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Fabrica de Bolo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDtLEPP0QgZiYcqo5tbimy1LS6mn-GOGD0"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <%= render  "partials/header" %>

    <%= yield %>

    <%= render  "partials/footer" %>

</body>
</html>
