<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Fabrica de Bolo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Custom styles for this template -->

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <script>
      $.backstretch("<%= image_path('banner/banner-2.jpg') %>", {speed: 500});
  </script>
</body>
</html>
